<table>
  <tr>
    <td></td>
    <td class="top">
      {{flat-cube-slice cubies=topCubies face=topFace}}
    </td>
    <td colspan="2"></td>
  </tr>
  <tr>
    <td class="left">
      {{flat-cube-slice cubies=leftCubies face=leftFace}}
    </td>
    <td class="back">
      {{flat-cube-slice cubies=backCubies face=backFace}}
    </td>
    <td class="right">
      {{flat-cube-slice cubies=rightCubies face=rightFace}}
    </td>
    <td class="front">
      {{flat-cube-slice cubies=frontCubies face=frontFace}}
    </td>
  </tr>
  <tr>
    <td></td>
    <td class="bottom">
      {{flat-cube-slice cubies=bottomCubies face=bottomFace}}
    </td>
    <td colspan="2"></td>
  </tr>
</table>