<table>
  <tr>
    <td></td>
    <td class="top">
      {{flat-cube-slice cubies=topCubies face=ALL_FACES.TOP}}
    </td>
    <td colspan="2"></td>
  </tr>
  <tr>
    <td class="left">
      {{flat-cube-slice cubies=leftCubies face=ALL_FACES.LEFT}}
    </td>
    <td class="back">
      {{flat-cube-slice cubies=backCubies face=ALL_FACES.BACK}}
    </td>
    <td class="right">
      {{flat-cube-slice cubies=rightCubies face=ALL_FACES.RIGHT}}
    </td>
    <td class="front">
      {{flat-cube-slice cubies=frontCubies face=ALL_FACES.FRONT}}
    </td>
  </tr>
  <tr>
    <td></td>
    <td class="bottom">
      {{flat-cube-slice cubies=bottomCubies face=ALL_FACES.BOTTOM}}
    </td>
    <td colspan="2"></td>
  </tr>
</table>